{#
/**
 * @file
 * Default theme implementation to present a todoapp form.
 * *
 * Available variables:
 * - form: Form ToDoAppForm
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_todo_app_form()
 */
#}
<div>{{ form }}</div>
